@import "tailwindcss";

@theme {
  /* ===== fonts ===== */
  --font-poppins: var(--font-poppins);
  --font-satoshi: var(--font-satoshi);

  /* ===== Colors ===== */
  --color-shuttle-gray-50: #f5f5f6;
  --color-shuttle-gray-40: #998a8a;

  --background-image-shuttle-gradient: linear-gradient(
    90deg,
    #ffffff 0%,
    #998a8a 100%
  );
  --color-shuttle-gray-700: #4b4c53;
  --color-shuttle-gray-950: #242528;
  --color-shuttle-gray-400: #82868e;
  --color-persian-blue-800: #003be2;
  --color-shuttle-gray-100: #e5e6e8;
  --color-shuttle-gray-200: #ced0d3;
  --color-black-700: #4f4f4f;
  --color-black-400: #888888;
  --color-black-200: #d1d1d1;

  /* ===== Brand Colors ===== */
  --color-electric-lime-400: #d4fb20;
}
